.Button {
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  align-items: center;
  background: #333;
  border-radius: 50%;;
  cursor: pointer;
  display: flex;
  font-size: 45px;
  height: 110px;
  justify-content: center;
  width: 110px;
}

.Button.zero {
  width: 250px;
  grid-column: 1 / span 2;
  border-radius: 57.5px;
  -webkit-border-radius: 57.5px;
  -moz-border-radius: 57.5px;
  -ms-border-radius: 57.5px;
  -o-border-radius: 57.5px;
  position: relative;
  justify-content: flex-start;
  padding-left: 43px;
}
