.Button {
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-border-radius: 50%;
  align-items: center;
  background: #333;
  border-radius: 50%;;
  cursor: pointer;
  display: flex;
  font-size: 45px;
  height: 110px;
  justify-content: center;
  width: 110px;
}

.Button.zero {
  width: 250px;
  grid-column: 1 / span 2 /*This is to set element on first column and span two columns*/
}