.App {
  width: 563px;
  height: 1218px;
  background: black;
  color: white;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
};

.top {

};

.display {

};

.buttons {

};

.bottom {

};